html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
}

header {
  background-image: linear-gradient(to right, #bdbdbd, #263238);
  color: #fafafa;
  padding: 20px;
  text-align: center;
  width: 100%;
}

nav{
   background-image: linear-gradient(to right, #bdbdbd, #263238);
  color: #fafafa;
  height: 10%;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.logo {
  display: inline-block;
}

.logo img {
  width: 100px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: #fafafa;
}

main {
background-image: url('background.jpg');

background-size: cover;
background-position: center;
height: 90vh;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;

}
.container{
  height: 150px;
  width: 300px;
  background-color: #263238;
  margin-left: 250px;
  color: #fafafa;
}
.projects{
   background-color: #263238;
  height: 80vh;
  width: 100vw;
}

.hero {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fafafa;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

footer {
  background-image: linear-gradient(to right, #bdbdbd, #263238);
text-align: center;
padding: 20px;
height: 30px;
/* margin-top: auto; */
margin-bottom: 20px;
}



.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  height: 70vh;
  width: 100%;
  margin: 10px;
}

.about-card {
  color: #fafafa;
  height: 70%;
  width: 80%;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-cardone {
  max-width: 100%;
  border-radius: 10px;
  background-image: url('./images/picture.avif');
  height: 400px;
  width: 250px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-card p {
  font-size: 16px;
  line-height: 1.6;
}

 /* SERVICES */
.services {
  padding: 50px;
}

.slideshow-container {
  position: relative;
  max-width: 1000px;
  margin: auto;
}

.service-slide {
  display: none;
}

.service-slide img {
  width: 50%;
  height: 50%;
  height: auto;
  margin-left: 200px;
}

.service-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  text-align: center;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fafafa;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.fade {
  animation: fade 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Styles for Contact Us Page */

.contact-form {
  padding: 50px;
  margin-left: 380px;
}

.contact-form h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 40%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fafafa;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #607d8b;
}

footer{
  color: #fafafa;
}
.about-card {
  border-radius: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #000;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.logo img {
  width: 100px;
}


/*SOCIAL LINKS  */
.social-media {
    text-align: center;
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
    color: #546e7a;  
    font-size: 40px;
    transition: transform 0.3s, color 0.3s;
}

.social-links a:hover {
    transform: scale(1.1);
    color: #263238 ;  
}



/* from freecodecamp  */
      
.projects-section {
  text-align: center;
  height: 80%;
  padding: 10rem 2rem;
  background: var(--main-blue);
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  height: 80%;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #fafafa;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--main-red);
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}
